@import 'breakpoints';

.table {
	$parent: &;
}

table {
	width: 100%;
	text-align: left;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

th,
td {
	vertical-align: top;
	padding: 8px;
	border: 1px solid #ccc;
}

$table-highlight: #ddd !default;
$table-auto-border: false !default;
$table-auto-stripe: false !default;
$table-auto-hover: false !default;
$table-bg-color: #fff !default;
$table-bg-hover-color: #f5f5f5 !default;
$table-bg-accent-color: #eee !default;
$table-border-color: #eee !default;
$table-caption-colour: #777 !default;

/*---
Tables
@group			Base/Table
@desc			The table element represents data with more than one dimension, in the form of a table. Tables must not be used as layout aids.
@modifier		table--bordered		: Bordered
@modifier		table--striped		: Striped
@modifier		table--hover		: Hover
@author			Michael Ord
@tags			default,table
@todo			review, and complete documentation
---
<table class="{modifier}">
	<caption>Some fantastical towns and their key characteristics</caption>
	<colgroup class="colgroup">
		<col class="col col1">
	</colgroup>
	<colgroup class="colgroup">
		<col class="col col2">
		<col class="col col3 is-highlighted">
		<col class="col col4">
		<col class="col col5">
	</colgroup>
	<colgroup class="colgroup is-highlighted">
		<col class="col col6">
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Town Name</th>
			<th scope="col">Founding feature</th>
			<th scope="col">Weaknesses</th>
			<th scope="col">Strengths</th>
			<th scope="col">Primary Inhabitants</th>
			<th scope="col">No. Inhabitants</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Pernrith</th>
			<td>Ancient water source</td>
			<td>Low economy</td>
			<td>Rare animal training and rare herbalism</td>
			<td>People</td>
			<td class="align-right">15</td>
		</tr>
		<tr>
			<th scope="row">Fandralore</th>
			<td>Strong metal ores</td>
			<td>Armorsmithing</td>
			<td>Sustainable hunting and prosperous trade</td>
			<td>Elves</td>
			<td class="align-right">20</td>
		</tr>
		<tr class="active">
			<th scope="row">Kasmord</th>
			<td>Precious gems</td>
			<td>Medicine</td>
			<td>Strong magicians and refined baking</td>
			<td>Elves</td>
			<td class="align-right">25</td>
		</tr>
	</tbody>
	<tfoot>
		<tr class="align-right">
			<th scope="row" colspan="5">Total World Inhabitants</th>
			<td class="align-right">60</td>
		</tr>
	</tfoot>
</table>
*/

table {
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left;
	background-color: $table-bg-color;
	margin: 0;
}

caption {
	text-align: left;
	padding: 0.4rem 0;
	color: $table-caption-colour;
}

thead {
	> tr {
		> th {
			vertical-align: bottom;
			border-bottom: 2px solid $table-border-color;
		}
	}
}

tbody,
tfoot {
	> tr {
		> th,
		> td {
			vertical-align: top;
			border-top: 1px solid $table-border-color;
		}
	}
}

tfoot {
}

tr {
	&.success {
		> th,
		> td {
			// background-color	: lighten($clr-success, 25%);
		}
	}

	&.danger {
		> th,
		> td {
			// background-color	: lighten($clr-error, 25%);
		}
	}

	&.info {
		> th,
		> td {
			// background-color	: lighten($clr-info, 25%);
		}
	}

	&.active {
		> th,
		> td {
			// background-color	: $table-highlight;
		}
	}
}

th,
td {
	padding: 10px;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

th {
}

td {
}

// Cell alignments
[colspan] {
	text-align: center;
}

[colspan='1'] {
	text-align: left;
}

[rowspan] {
	vertical-align: middle;
}

[rowspan='1'] {
	vertical-align: top;
}

col {
}

colgroup {
	// TODO
	&.is-highlighted {
		background-color: rgba(253, 188, 86, 0.25);
	}
}

// -----------------------------------------------------------------------------
// Classes
// -----------------------------------------------------------------------------

/**
 * Allow the ability to either set a border on all tables by default, or use a
 * special class to apply the borders.
 */
/*
@include wrap-if($table-auto-border == false, ".table--bordered")
{
	th, td
	{
		border 					: 1px solid $table-border-color;

		&:empty
		{
			border 						: 0;
		}
	}

	thead
	{
		tr
		{
			&:last-child
			{
				th
				{
					border-bottom-width	: 2px;
				}
			}
		}
	}

	tbody
	{
		tr
		{
			th
			{
				&:nth-of-type
				{
					border-right-width	: 2px;
				}
			}

		}
	}
}
*/

/*
@include wrap-if($table-auto-stripe == false, ".table--striped")
{
	tbody
	{
		> tr
		{
			&:nth-of-type(odd)
			{
				background-color 		: $table-bg-accent-color;
			}
		}
	}
}
*/
/*
@include wrap-if($table-auto-hover == false, ".table--hover")
{
	tbody
	{
		> tr
		{
			&:hover
			{
				background-color 		: $table-bg-hover-color;
			}

			> td,
			> th
			{
				&:hover
				{
					background-color 	: darken($table-bg-hover-color, 2%);
				}
			}
		}
	}
}
*/
